.apiFooter{
    background-color: #656464;
    color: #82170f;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    font-family: 'Open Sans', sans-serif;
}
.apiPrivacyStatement{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: span 2; 
    position: relative;
    top: 3vh;
}
.apiFooterLink{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
}
.apiCopyright{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; 
}
.apiFooterSearch{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: span 2; 
    width: 100%;
}
.apiSearchField{
position: relative;
position: relative;
top: 1.5vh;
left: 9vw;
} 
.apiFooterSearchBtn{
    float: right;
    position: relative;
    top: .5vh;
}

    /* link */
a:link {
    color: #82170f;
  }
    /* visited link */
  a:visited {
    color: white;
  }
    /* mouse over link */
  a:hover {
    color: black;
  }
    /* selected link */
  a:active {
    color: #656464;
  }