.header {
    position: relative;
}

.topbar {
    display: flex;
    background-color: blueviolet;
    border-bottom: 1px solid #ccc;
    height: 30px;
    width: 30px;
    margin: 0;
    position: relative;
    left: 4vw;
}

.topbar a {
    display: block;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.menu {
    width: 16px;
}

.menu zmdi-menu::before {
    content: '\f136';
}

.menubar {
    width: 220px;
   
    background: white;
    top: 48px;
    z-index: 1;
    left: -1000vw;
    height: calc(100vh - 48px);
    transition: transform 300ms ease-out;
}

.menubar.true {
    -ms-transform: translate(280px);
    /* IE 9 */
    -webkit-transform: translate(280px);
    /* Safari */
    transform: translateX(280px);
    /* Standard syntax */
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #03353e;
    text-decoration: none;
    color: #666;
    padding: 8px 16px;
    display: block;
}

li hover {
    color: #333;
    background: #eee;
}

li active {
    color: #333;
    background: #999;
}

.container {
    padding: 16px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 49px);
}
.classOne{
    background-color: #008293;
}

.classTwo{
    background-color: #008293;
}
.toggled{
    visibility: hidden;
}
/* @media(min-width: 769px) {
    h1 {
        font-size: 200px;
    }
} */


/* burger */
.burger {
	width: 28px;
	
	display: inline-block;
  border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
    stroke-width: 4px;
	border-bottom: solid currentColor;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out; 
}
	 /* Fix for extra space in Firefox */
     .burger:-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	.burger:before {
		content: "";
        display: block;
        stroke-width: 4px;
		border-bottom: solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;    
		-webkit-transition: -webkit-transform 0.5s ease-in-out;        
	}

	.burger:after {
		content: "";
        display: block;
        stroke-width: 4px;
		border-bottom: solid currentColor;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}


.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: solid transparent;
  stroke-width: 4px;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}
  .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px); 
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

