.header {
    position: relative;
}

.topbar {
    display: flex;
    background-color: blueviolet;
    border-bottom: 1px solid #ccc;
    height: 48px;
    margin: 0;
}

.topbar a {
    display: block;
    padding: 16px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}

.menu {
    width: 16px;
}

.menu zmdi-menu::before {
    content: '\f136';
}

.menubar {
    width: 220px;
    position: absolute;
    background: #333333;
    top: 48px;
    z-index: 1;
    left: -220px;
    height: calc(100vh - 48px);
    transition: transform 300ms ease-out;
}

.menubar true {
    -ms-transform: translate(280px);
    /* IE 9 */
    -webkit-transform: translate(280px);
    /* Safari */
    transform: translate(280px);
    /* Standard syntax */
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 1px solid #444;
    text-decoration: none;
    color: #666;
    padding: 8px 16px;
    display: block;
}

li hover {
    color: #333;
    background: #eee;
}

li active {
    color: #333;
    background: #999;
}

.container {
    padding: 16px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 49px);
}


/* @media(min-width: 769px) {
    h1 {
        font-size: 200px;
    }
} */