.logInPage {
    background-image: url("./../../images/logInBackground.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: grid;
    grid-template-columns: 39% 28% 39%;
    grid-template-rows: 22vh 10vh 10vh;
    justify-items: center;
}
.logInLogo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.logInForm {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 3;
}
.logInButtons {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
}
.logInButton {
    background-color: white;
    border: none;
    border-radius: 100%;
}

#logoPhoto{
    height: 15vh;
    margin-top: 5vh;
    margin-bottom: 2vh;
}
