.card{
    display: grid;
    grid-template-columns: 15% 14% 14% 14% 14% 14% 15%;
    grid-template-rows: 5% 5% 5% 80% 5%;
    justify-items: center;
    border-radius: 6%;
}
.cardFavoriteBtn{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}
.locTitle{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.locAddress{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.locWebsite{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}
.cardCommentBtn{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 3;
}
cardBody{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 4;  
}
.cardRatingBtn1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardRatingBtn2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardRatingBtn3{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardRatingBtn4{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardRatingBtn5{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}
.cardViewCommentBtn{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5; 
}
.cardHeader{
    background-color: white;
}
.cardFooter{
    background-color: white;
    display: flex;
    flex-direction: row;

}
