.footer{
    background-color: white;
    display: grid;
    grid-template-columns: 5% 45% 30%;
    grid-template-rows: 10vh;
    justify-items: center;  
    border-top-style: ridge;
    border-width: thin;
    border-color:  #03353e;
}

.footerLogo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
    top: 2.5vh;
    left: 1vw;
}

.footerCenter{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
   
}

.footerLink{
    margin-left: 37vw;
    font-size: x-small;
    position: relative;
    top: 2vh;
}

.footerCopyright{
    font-size: x-small; 
    margin-left: 39vw;
    position: relative;
    top: 2vh;
}

#companyLogo{
    height: 5vh;
}

.footerSearchBtn{
    height: 3vh;
    width: 4vw;
    font-size: small;
    margin-left: 1vw;
}

.footerSearch{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    position: relative;
    top: 4vh;
}

.searchDiv{
    float: left;
}
