.apiNavBar{
    background-color: #656464;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10 30% 10% 20% 10%;
    justify-items: center;
    color: #fbf7f7;
    font-family: 'Open Sans', sans-serif;
    height: inherit;
}

.apiDashboardNav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
}

.apiDocumentationNav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.docList{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  
}
li{
    color: #fbf7f7;
    border-bottom: #656464;
}
.apiSupportNav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.apiUpdateButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
}
.apiUpdateBtn{
background-color: #656464;
border-color: #656464;
}