.headerPage{
    display: grid;
    grid-template-columns: 5% 85% 10%;
    grid-template-rows: 50% 45% 5%;
    justify-items: center;
    background-color: white;
    height: 100%;
    
}

.bannerLogo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.bannerGif{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    right: 1.5vw;
    top: 2vh;
}

.headerNavBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;  
    position: relative;
    left: 7vw;
    bottom: 6vh;
}

#headerDogPhoto{
    height: 12vh;
}

#headerGif{
    height: 7vh;
    
}
.headerZipBtn{
    float: left;
    position: relative;
    bottom: 3.5vh;
    left: 11vw;
}

.headerZipDiv{
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 3;
    position: relative;
    bottom: 3vh;
    left: 30vw;
}


