.headerPage{
    display: grid;
    grid-template-columns: 5% 85% 10%;
    grid-template-rows: 50% 45% 5%;
    justify-items: center;
    background-color: white;
    height: 65%;
    
}

.bannerLogo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.bannerGif{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    right: 3vw;
    top: 8vh;
}

.headerNavBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;  
}

#headerDogPhoto{
    height: 25vh;
}

#headerGif{
    height: 10vh;
    
}
