.headerPage{
    display: grid;
    grid-template-columns: 5% 85% 10%;
    grid-template-rows: 50% 45% 5%;
    justify-items: center;
}

.bannerLogo{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.bannerGif{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    right: 4vw;
    bottom: 12vh;
}

.headerNavBar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;  
    position: relative;
    bottom: 28vh;
}

#headerDogPhoto{
    height: 35vh;
}

#headerGif{
    height: 15vh;
    
}
