body{
    background-image: url("/public/assets/images/404.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}
.errorPage {
    display: grid;
    grid-template-columns: 10% 20% 40% 20% 10%;
    grid-template-rows: 50vh 20vh 20vh 20vh 20vh;
    color: #03353e;
}
.errorLine1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: span 2;
}
.errorLine2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: span 3;
}
.errorLine4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: span 4;
}
.errorHome{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: span 5;   
}