.apiBodyPage{
    background-image: url("./../../images/apibackground.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #82170f;
    font-family: 'norwester';
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 10% 70% 10%;
    justify-items: center;
}
.apiHeaderDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
}

.apiTitleDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.apiBodyDiv{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}
.apiFooterDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}

.apiNavBarDiv{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 4; 
    height: 100%;
    width: 100%;
}