.nav {
    background-color: white;
    display: grid;
    grid-template-columns: 10% 5% 75% 5% 5%;
    grid-template-rows: 10vh;
    justify-items: center;
}

.navTitle{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.navSearchBtn{
    margin-top: .5vw;
}

.navLogOutBtn{
    margin-top: .5vw;
}

.navUpdateBtn{
    margin-top: .5vw;
}
.navButton1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 2vh;
    vertical-align: bottom;
}
.navButton2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 2vh;
    vertical-align: bottom;
}
.navButton3{
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 2vh;
    vertical-align: bottom;
}
#updateButton{
    height: 3vh;
}